:root {
    --color-main: #a670f1;
    --color-dark: #815b13;
    --color-text-one: #a3906d;
    --color-text-two: #000000;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: white;
    min-height: 100vh;
    background: radial-gradient(circle at right, var(--color-main), var(--color-dark) 70%);

}

.ballz {
    position: fixed;
    top: 30%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    z-index: -1;
}

.ballz svg {
    opacity: 0.1;
}


.covers.photo-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    flex-wrap: wrap;
    
}

.covers.photo-row a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.photo {
    background: #1d162bd0;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s;
    gap: 15px;
}
.photo-wrapper {
    animation: fadeUp 0.3s ease forwards;
    opacity: 0;
}
.photo:hover {
    box-shadow: 0 15px 30px var(--color-main);
    transform: scale(1.05) translateY(-5px);
}
.photo img {
    width: 100%;
    border-radius: 10px;
}

.photo-wrapper:nth-child(1) {animation-delay: 0.1s;}
.photo-wrapper:nth-child(2) {animation-delay: 0.15s;}
.photo-wrapper:nth-child(3) {animation-delay: 0.2s;}
.photo-wrapper:nth-child(4) {animation-delay: 0.25s;}

.album-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-name .artist {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #1d162bd0;
    font-weight: bold;
}

.album-name .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #1d162bd0;
}

.photo button {
    cursor: pointer;
}

.tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    margin-bottom: 200px;
    
}

.track-card {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 15px;
    background: #1e1e2f;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    transition: 0.3s, box-shadow 0.3s;
    cursor: pointer;
    color: var(--color-main);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.track-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeUp 0.3s ease forwards;
    width: 100%;
    opacity: 0;
}
.track-card.active {
    border: 2px solid var(--color-main);
    background: #2a2a3d;
}

.track-card:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 20px var(--color-main);
    background: var(--color-dark);
}
.track-thumb {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 0;
}
.track-info {
    display: flex;
    align-items: center;
    gap: 12px;
}
.track-title {
    font-weight: 400;
    color: var(--color-main);
}
.track-duration {
    margin-left: 10px;
    font-weight: 400;
    text-align: right;
}

.track-card p {
    margin: 5px 0;
    color: var(--color-main);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.track-card button {
    margin-left: auto;
    padding: 8px 15px;
    background: var(--color-main);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.track-card audio {
    margin-top: 10px;
    width: 100%;
    filter: brightness(0.7);
}
.play-btn:active {
    background: var(--color-dark);
    transform: scale(0.95);
}
.track-wrapper:nth-child(1) {animation-delay: 0.05s;}
.track-wrapper:nth-child(2) {animation-delay: 0.1s;}
.track-wrapper:nth-child(3) {animation-delay: 0.15s;}
.track-wrapper:nth-child(4) {animation-delay: 0.2s;}
.track-wrapper:nth-child(5) {animation-delay: 0.25s;}
.track-wrapper:nth-child(6) {animation-delay: 0.3s;}
.track-wrapper:nth-child(7) {animation-delay: 0.35s;}
.track-wrapper:nth-child(8) {animation-delay: 0.4s;}
.track-wrapper:nth-child(9) {animation-delay: 0.45s;}
.track-wrapper:nth-child(10) {animation-delay: 0.5s;}
.track-wrapper:nth-child(11) {animation-delay: 0.55s;}
.track-wrapper:nth-child(12) {animation-delay: 0.6s;}
.track-wrapper:nth-child(13) {animation-delay: 0.65s;}
.track-wrapper:nth-child(14) {animation-delay: 0.7s;}
.track-wrapper:nth-child(15) {animation-delay: 0.75s;}
.track-wrapper:nth-child(16) {animation-delay: 0.8s;}
.track-wrapper:nth-child(17) {animation-delay: 0.85s;}
.track-wrapper:nth-child(18) {animation-delay: 0.9s;}
.track-wrapper:nth-child(19) {animation-delay: 0.95s;}
.track-wrapper:nth-child(20) {animation-delay: 1s;}
.track-wrapper:nth-child(21) {animation-delay: 1.05s;}
.track-wrapper:nth-child(22) {animation-delay: 1.1s;}
h2 {
    position: fixed;
    top: 40px;
    right: 10px;
    text-align: right;
    font-size: 14px;
    color: white;
    opacity: 0.2;
    z-index: -2;
}
h3 {
    color: var(--color-dark);
}
h4 {
    color: var(--color-main);
}

footer {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: 14px;
    color: white;
    opacity: 0.2;
    z-index: -2;
}

body::before {
    content: "";
    position: fixed;
    width: 600px;
    height: 600px;
    background: var(--color-main);
    filter: blur(250px);
    top: -200px;
    left: -200px;
    z-index: -2;
    animation: breathe 7s ease-in-out infinite;
}

body::after {
    content: "";
    position: fixed;
    width: 600px;
    height: 600px;
    background: var(--color-main);
    filter: blur(200px);
    bottom: -150px;
    left: -100px;
    z-index: -1;
    opacity: 1;
    animation: breathe 7s ease-in-out infinite;
}

body.homepage {
    --color-main: #ad7fcc;
    --color-dark: #b49714;
    --color-text-one: #e4d9aba6;
    --color-text-two: #a8a8a8;
}
body.album_10-13 {
    --color-main: #794a0d;
    --color-dark: #b4aa9c;
    --color-text-one: #28610291;
    --color-text-two: #85650dd0;
}
body.album_MZ-1 {
    --color-main: #681174;
    --color-dark: #110e0d;
    --color-text-one: #942e6dd2;
    --color-text-two: #1a1814;
}
body.album_MZ-2 {
    --color-main: #5a5a5a;
    --color-dark: #000000;
    --color-text-one: rgb(56, 55, 50);
    --color-text-two: #40493d;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    -webkit-text-stroke: 1px var(--color-text-one);
    justify-content: center;
    display: flex;
    animation: titleReveal 0.3s ease forwards;
    opacity: 1;
}
body.homepage h1 {
    background: linear-gradient(45deg, var(--color-main), var(--color-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.album_10-13 h1 {
    background: linear-gradient(45deg, var(--color-text-two), #ffffff71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.album_MZ-1 h1 {
    background: linear-gradient(45deg, var(--color-text-one), var(--color-text-two));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.album_MZ-2 h1 {
    background: linear-gradient(45deg, var(--color-text-one), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.album_10-13::before {
    background: var(--color-main);
}
body.album_10-13::after {
    background: var(--color-dark);
}
body.album_MZ-1::before {
    background: var(--color-main);
}
body.album_MZ-1::after {
    background: var(--color-dark);
}
body.album_MZ-2::before {
    background: var(--color-main);
}
body.album_MZ-2::after {
    background: var(--color-dark);
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}
@keyframes titleReveal {
    from {
        opacity: 0;
        transform: translateY(30px);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}
@keyframes breathe {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 0.4;
    }
    50% {
        transform: scale(1.5) rotate(15deg);
        opacity: 0.8;
    }
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 0.4;
    }
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 8px;
    background: var(--color-main);
    backdrop-filter: blur(10px);
    transition: 0.2s;
}
.back-btn:hover {
    background-color: var(--color-dark);
}

.global-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color-main);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    opacity: 1;
}
.player-controls{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.player-controls button{
    background: var(--color-dark);
    border: none;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 6px;
}
#main-audio {
    width: 100%;
}
#now-playing {
    text-align: right;
    margin: 0 0 5px 0;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.global-player audio {
    width: 100%;
}
.player-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.album-header{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 40px;
    opacity: 1;
    cursor: pointer;
    max-width: 400px;
    animation: fadeUp 0.3s ease forwards;
}
.album-cover{
    width: 200px;
    border-radius: 10px;
}
.album-info h3{
    margin: 5px 0;
    opacity: 1;
    font-size: 28px;
}
.album-info h4{
    margin: 5px 0;
    opacity: 1;
    font-size: 28px;
}
.album-info p{
    margin: 5px 0;
    opacity: 1;
    font-size: 18px;
    color: var(--color-dark);
}